API/obj/Debug/netcoreapp2.0/API.AssemblyInfo.cs
.vscode/launch.json
.vscode/tasks.json
API/bin/Debug/netcoreapp2.0/API.dll
API/bin/Debug/netcoreapp2.0/API.pdb
API/bin/Debug/netcoreapp2.0/API.deps.json
API/bin/Debug/netcoreapp2.0/API.runtimeconfig.json
API/bin/Debug/netcoreapp2.0/API.runtimeconfig.dev.json
API/obj/API.csproj.nuget.cache
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/Debug/netcoreapp2.0/API.dll
API/obj/Debug/netcoreapp2.0/API.pdb
API/obj/Debug/netcoreapp2.0/API.AssemblyInfoInputs.cache
API/obj/Debug/netcoreapp2.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp2.0/API.csproj.FileListAbsolute.txt
MVC/obj/Debug/netcoreapp2.0/MVC.AssemblyInfo.cs
MVC/obj/Debug/netcoreapp2.0/MVC.AssemblyInfoInputs.cache
MVC/obj/Debug/netcoreapp2.0/MVC.csproj.CoreCompileInputs.cache
API/obj/API.csproj.nuget.cache
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
